<template>
  <footer>
    <h4>Don’t miss any relevant news <span class="desktop">: Get CivikOwl App</span></h4>
    <button class="desktop">Email me a link</button>
    <button class="mobile">Get CivikOwl App</button>
    <p>Copyright CivikOwl 2018. All rights reserved. <br>
      <a href="mailto:support@civikowl.com">support@civikowl.com</a></p>
  </footer>
</template>

<style scoped lang="scss">
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 60px 0 68px 0;
  }
  h4 {
    display: inline-flex;
    margin: 0;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    line-height: 30px;
  }
  button {
    background: var(--color-cyan);
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 19px 30px;
    margin: 33px auto 30px auto;
    width: auto;
    height: 56px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.25);
    border-radius: 100px;
    font-weight: 600;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
    transition: .1s ease all;
    border: 1px solid var(--color-cyan);
    &:hover, &:focus {
      background: transparent;
      color: var(--color-cyan);
      cursor: pointer;
    }
  }
  p {
    font-size: .75em;
    color: var(--color-darkgrey);
    text-align: center;
    line-height: 19px;
    margin: 0;
    a {
      color: var(--color-cyan);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media only screen and (max-width: 719px) {
    footer {
      padding: 40px 0;
    }
    button {
      margin: 25px 0;
    }
    h4 {
      font-weight: normal;
      font-size: 1em;
    }
  }
</style>
