<template>
  <article>
    <h3>Washington Examiner <span>· Political leaning: Moderate</span></h3>
    <h2>Israel downs Iranian drone, loses F-16 in counterattack</h2>
    <span class="mobile leaning">Political leaning: Moderate</span>
    <p>Four Israeli F-16s struck 12 “Syrian and Iranian military targets in Syria.” The Syrians unleashed a “massive”
      anti-aircraft barrage, however, and one of the fighter jets crashed in Israel.</p>
    <hr>
    <p>Israel has eyed the Syrian civil war with growing alarm, as Russia and Iran’s support for Syrian President Bashar
      Assad has allowed the Iranian forces to spread across Syria and pose a threat to Israel.</p>
    <hr>
    <p>Prime Minister Benjamin Netanyahu warned Russian President Vladimir Putin in January that Israel would not
      tolerate
      an Iranian military build-up in Syria.</p>

    <div class="read-full">
      <button>Read full article</button>
      <span>April 5 · 10 min reading</span>
    </div>
  </article>
</template>

<style scoped lang="scss">
  article {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  h3 {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0;
    span {
      font-weight: normal;
      color: var(--color-darkgrey);
    }

  }
  h2 {
    margin-top: 10px;
    margin-bottom: 31px;
    font-size: 2.25em;
    line-height: 40px;
    font-family: Lato;
    font-weight: bolder;
  }
  hr {
    border: 0.5px solid var(--color-grey);
    margin: 1.2em 0;
    width: 80px;
    outline: none;
  }

  .read-full {
    margin-top: 40px;
    span {
      text-transform: uppercase;
      font-size: .75em;
      color: var(--color-darkgrey);
    }
    button {
      padding: 20px 0;
      border: 1px solid var(--color-cyan);
      border-radius: 100px;
      width: 180px;
      height: 56px;
      font-size: 1em;
      color: var(--color-cyan);
      background-color: transparent;
      text-align: center;
      line-height: 16px;
      transition: .1s ease all;
      cursor: pointer;
      margin-right: 20px;
      &:hover, &:focus {
        color: white;
        background-color: var(--color-cyan);
      }
    }
  }
  @media only screen and (max-width: 719px) {
    article {
      padding: 0 20px 40px 20px;
      margin-bottom: 30px;
    }
    p, h3, span {
      font-size: .88em;
    }
    .leaning {
      color: var(--color-darkgrey);
    }
    h3 {
      span {
        display: none;
      }
    }
    h2 {
      font-size: 1.38em;
      text-align: left;
      line-height: 26px;
      margin-bottom: 15px;
    }
    hr {
      margin: 1em 0;
    }
    .read-full {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 20px;
      span {
        text-transform: none;
      }
      button {
        align-self: center;
        margin: 30px 0 0 0;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.25);
        background: var(--color-cyan);
        color: white;
        font-weight: bold;
        &:hover, &:focus {
          background: white;
          color: var(--color-cyan);
        }
      }
    }
  }
</style>
