<template>
  <div class="article-picture-container">
    <div class="article-picture">
      <picture>
        <img src="../assets/picture.jpg" srcset="../assets/picture-2x.jpg" alt="Article name">
      </picture>
      <div class="owlrank-meter">
        <img svg-inline src="../assets/icon-white.svg" alt="Owlrank is:">
        88%
      </div>
    </div>
    <div class="bubble">
      Why should I trust OwlRank score?
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .article-picture {
    position: relative;
    .owlrank-meter {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 32px;
      bottom: 20px;
      left: 20px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.50);
      background-color: var(--color-green);
      border-radius: 100px;
      font-weight: bold;
      font-size: 1em;
      color: white;
      text-align: left;
      svg {
        margin-right: 5px;
        padding-top: 2px;
      }
    }
  }

  picture img {
    object-fit: cover;
    background: #000000;
    border-radius: 6px;
    width: 520px;
    height: 280px;
    @media only screen and (max-width: 719px) {
      width: 100%;
      border-radius: 6px 6px 0 0;
    }
  }

  .bubble {
    box-sizing: border-box;
    background: #fff;
    width: 250px;
    padding: 10px 15px;
    margin-top: 13px;
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
    border-radius: 18px;
    cursor: pointer;

    font-size: .88em;
    color: var(--color-cyan);
    text-align: right;
    line-height: 16px;
    @media only screen and (max-width: 719px) {
      margin-left: 11px;
    }
  }

  .bubble:after {
    content: "";
    position: absolute;
    box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.05);
    transform: rotate(-135deg);
    top: -6px;
    left: 50px;
    border-width: 6.4px;
    border-style: solid;
    border-color: transparent #FFF #FFF transparent;
  }
</style>
