<template>
  <div class="notification">
    <span>This article is no longer the <strong> Top article </strong> on this story.</span>
    <button>Update perspectives</button>
  </div>
</template>

<style scoped lang="scss">
  .notification {
    width: 100%;
    height: 55px;
    background-color: var(--color-cyan);
    color: white;
    font-size: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    button {
      font-size: .75em;
      background: transparent;
      color: white;
      border: 1px solid #FFFFFF;
      border-radius: 100px;
      padding: 8px 15px;
      text-transform: uppercase;
      margin-left: 10px;
      transition: .1s ease all;
      letter-spacing: 0;
      &:hover, &:focus {
        background: white;
        color: var(--color-cyan);
        cursor: pointer;
      }
    }
  }
  @media only screen and (max-width: 719px) {
    .notification {
      display: none;
    }
  }
</style>
