<template>
  <section id="rank-detail">
    <div class="content">
      <h3>About OwlRank:</h3>
      <p>CivikOwl rates this article as <span class="bold green">well researched</span> with an overall score of
        <strong>{{score}} out of 100</strong>. <br class="mobile"> This is based on
        the diversity, credibility and non-repetitive nature of {{sources}} sources in the article.</p>
      <ul class="owlrank-values">
        <li v-for="category in rankValues">
          <span v-bind:class="category.color">{{category.value || 'N/A'}}</span>
          <span>{{category.name}}</span>
        </li>
      </ul>
      <ul class="publishers">
        <li v-for="publisher in publishers">
          <img v-bind:src="publisher.image" v-bind:alt="publisher.name">
          <div class="publisher-info">
            <span>{{publisher.name}}</span>
            <span>Political leaning: {{publisher.leaning}}</span>
            <span class="cyan">{{publisher.links}} unique links <img src="../assets/arrow-down.svg" alt="Show more"></span>
          </div>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'rank-detail',
    data () {
      return {
        score: 85,
        sources: 8,
        rankValues: [
          {
            name: 'Unique publishers',
            value: 14,
            color: 'green'
          },
          {
            name: 'Unique citations',
            value: 19,
            color: 'green'
          },
          {name: 'Links to own site', value: 6, color: 'yellow'},
          {
            name: 'Credible publishers',
            value: 'Yes',
            color: 'green'
          },
          {
            name: 'Politically diverse publishers',
            value: 'No',
            color: 'red'
          },
          {
            name: 'Multiple publishers reporting',
            value: 'Yes',
            color: 'green'
          },
          {
            name: 'Owls reading',
            value: null,
            color: 'gray'
          },
          {
            name: 'Site credibility',
            value: 'Medium',
            color: 'yellow'
          }
        ],
        publishers: [
          {
            name: 'The New York Times',
            image: './static/img/publishers/times.svg',
            leaning: 'Center',
            links: 8
          },
          {
            name: 'CNN News',
            image: './static/img/publishers/cnn.svg',
            leaning: 'Moderate-Right',
            links: 10
          },
          {
            name: 'ABC News',
            image: './static/img/publishers/abc.svg',
            leaning: 'Moderate-Left',
            links: 16
          },
          {
            name: 'NBC Network',
            image: './static/img/publishers/nbc.svg',
            leaning: 'Center',
            links: 7
          },
          {
            name: 'Fox News',
            image: './static/img/publishers/fox.svg',
            leaning: 'Right',
            links: 8
          }
        ]
      }
    }
  }
</script>

<style scoped lang="scss">
  #rank-detail {
    background-color: var(--color-lightgrey);
    padding: 60px 1em 40px 1em;
    p {
      line-height: 24px;
    }
    ul.owlrank-values {
      list-style-type: none;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, 180px);
      grid-template-rows: repeat(auto-fit, 125px);
      grid-gap: 19px;
      margin: 40px 0;
      padding: 0;
      li {
        height: 125px;
        width: 100%;
        background: #ffffff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span:first-child {
          font-size: 1.88em;
          font-weight: bold;
          letter-spacing: -1px;
          text-align: center;
          margin-bottom: 10px;
        }
        span:last-child {
          max-width: 130px;
          font-size: 0.88em;
          text-align: center;
          line-height: 16px;
        }
      }
    }
    ul.publishers {
      list-style-type: none;
      padding: 0;
      li {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-top: 1px solid var(--color-grey);
        padding: 20px 0;
        > img {
          margin-right: 15px;
        }
        .publisher-info {
          display: flex;
          flex-direction: column;
          font-size: .88em;
          span:first-child {
            font-weight: bold;
          }
          span:last-child {
            color: var(--color-cyan);
            cursor: pointer;
            position: relative;
            img {
              padding-bottom: 1px;
              padding-left: 2px;
            }
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 719px) {
    #rank-detail {
      padding: 0px 20px 40px 20px;
      font-size: .88em;
      ul.owlrank-values {
        grid-template-columns: minmax(90px, 163px) minmax(90px, 163px);
        grid-template-rows: repeat(auto-fit, 125px);
      }
      h3 {
        margin-top: 0;
      }
      br {
        line-height: 2em;
      }
    }
  }
</style>
