<template>
  <header>
    <img src="../assets/civikowl-logo.svg" alt="CivikOwl">
    <ul class="header-items">
      <li>What's CivikOwl?</li>
      <li>FAQ</li>
      <li>Support</li>
      <li class="important">Get the app</li>
    </ul>
  </header>
</template>

<script>
  export default {
    name: 'top-bar'
  }
</script>

<style lang="scss" scoped>
  header {
    background-color: var(--color-lightgrey);
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    ul.header-items {
      display: flex;
      list-style-type: none;
      padding: 0;
      li {
        color: var(--color-darkgrey);
        cursor: pointer;
        a {
          color: inherit;
          text-decoration: none;
        }
      }
      li:hover, li a:hover {
        text-decoration: underline;
      }
      li:not(:last-child) {
        margin-right: 1em;
        text-align: right;
      }
      li.important {
        color: var(--color-cyan);
      }
    }
  }
  @media only screen and (max-width: 719px) {
    header {
      display: none;
    }
  }
</style>
