<template>
  <div class="perspectives-container desktop">
    <ul>
      <viewpoint-tab v-for="perspective in perspectives" :key="perspective.name" :name="perspective.name" :icon="perspective.icon"
                     :active="active" :cssClass="perspective.class" :onclick="switchPerspective"/>
    </ul>
  </div>
</template>

<script>
  import ViewpointTab from './ViewpointTab'

  export default {
    components: {
      ViewpointTab
    },
    props: {
      perspectives: Array,
      active: String,
      switchPerspective: Function
    }
  }
</script>

<style lang="scss">
  .perspectives-container {
    width: 100%;
    ul {
      padding: 0 0 0 4px;
      margin: 0;
      list-style-type: none;
      display: grid;
      grid-template-rows: repeat(auto-fit, 48px);
      grid-gap: 10px;
    }
  }

  @media only screen and (max-width: 719px) {
    .perspectives-container ul {
      padding: 0;
    }
  }
</style>
