<template>
  <div class="perspectives-container mobile">
    <transition-group name="list" tag="ul">
      <viewpoint-tab v-for="perspective in visible" :key="perspective.name" :name="perspective.name"
                     :icon="perspective.icon" :flipArrow="opened"
                     :active="active" :cssClass="perspective.class" :arrow="perspective.name === active"
                     :onclick="switchPerspectiveAnimated"/>
    </transition-group>
  </div>
</template>

<script>
  import ViewpointTab from './ViewpointTab.vue'

  export default {
    components: {
      ViewpointTab
    },
    data () {
      return {
        opened: false
      }
    },
    methods: {
      switchVisible: function () {
        this.opened = !this.opened
      },
      switchPerspectiveAnimated: function (perspective) {
        this.switchPerspective(perspective)
        setTimeout(() => {
          this.switchVisible()
        }, 100)
      }
    },
    computed: {
      visible () {
        if (!this.opened) {
          return [
            this.perspectives.find(
              perspective => perspective.name === this.active
            )
          ]
        } else {
          return [
            this.perspectives.find(
              perspective => perspective.name === this.active
            ),
            ...this.perspectives.filter(
              perspective => perspective.name !== this.active
            )
          ]
        }
      }
    },
    props: {
      perspectives: Array,
      active: String,
      switchPerspective: Function
    }
  }
</script>

<style scoped lang="scss">
  .perspectives-container {
    width: 100%;
    margin-bottom: 10px;
    ul {
      padding: 0 0 0 4px;
      margin: 0;
      list-style-type: none;
      display: grid;
      grid-template-rows: repeat(auto-fit, 48px);
      grid-gap: 10px;
    }
  }

  .viewpoint-tab {
    transition: opacity 0.6s, transform 0.6s;
  }

  .list-enter, .list-leave-to
    /* .list-leave-active below version 2.1.8 */
  {
    opacity: 0;
    transform: translateX(30px);
  }

  .list-leave-active {
    position: absolute;
  }

  @media only screen and (max-width: 719px) {
    .perspectives-container ul {
      padding: 0;
    }
  }
</style>
