<template>
  <li class="viewpoint-tab" v-on:click="onclick(name)"
      :class="[cssClass, active === name && 'active']">
    <simple-s-v-g :filepath="icon" :width="'24px'" :height="'24px'" :alt="name"
                  :class="name.toLowerCase()"/>
    <span>{{name}}</span>
    <simple-s-v-g v-if="arrow" :class="['arrow', flipArrow && 'flipped']"
                  :filepath="require('../assets/arrow-down.svg')" :width="'12px'" :height="'7.5px'"/>
  </li>
</template>

<script>
  import { SimpleSVG } from 'vue-simple-svg'

  export default {
    name: 'viewpoint-tab',
    components: {
      SimpleSVG
    },
    props: {
      icon: String,
      name: String,
      cssClass: String,
      active: String,
      onclick: Function,
      arrow: Boolean,
      flipArrow: Boolean
    }
  }
</script>

<style lang="scss">
  li.viewpoint-tab {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 28px;
    height: 48px;
    width: 100%;
    border-radius: 6px;
    font-size: 0.88em;
    color: #333333;
    text-align: center;
    background: #f5f5f5;
    cursor: pointer;

    transition: 0.1s ease background-color, 0.1s ease color;

    svg {
      margin-right: 11px;
    }

    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: 20.25px;
      transition: 0.1s ease all;
      svg {
        margin: 0;
      }
      &.flipped {
        transform: rotate(180deg);
      }
    }

    &.main {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
      background: #ffffff;
      font-weight: bold;
    }

    &.unimportant {
      color: #cccccc;
      svg {
       g, path {
         fill: #cccccc;
       }
      }
      @media only screen and (max-width: 719px) {
        color: var(--color-black);
        svg g, svg path {
          fill: var(--color-black);
        }
      }
    }

    &.active {
      background: var(--color-darkblue);
      color: white;
      font-weight: bold;
      svg g, svg path {
        fill: white;
      }
    }

    &:after {
      content: "";
      opacity: 0;
      position: absolute;
      transform: rotate(135deg) translateY(50%);
      transition: 0.1s ease all;
      top: 50%;
      left: 0;
      border-width: 4px;
      border-style: solid;
      border-color: transparent var(--color-darkblue) var(--color-darkblue) transparent;
      @media only screen and (max-width: 719px) {
        border-width: 0px;
      }
    }

    &.active:after {
      opacity: 1;
    }

    svg g, svg path {
      fill: var(--color-black);
    }

    @media only screen and (max-width: 719px) {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
      background: #ffffff;
      span:before {
        content: "Viewpoint: ";
      }
      &.main {
        font-weight: normal;
      }
      &.active {
        z-index: 2;
      }
    }
  }
</style>
