<template>
  <div id="app">
    <notification/>
    <top-bar/>
    <main>
      <div class="content">
        <div class="title">
          <span>Hi there!</span>
          <h1>A friend shared with you an article vetted by CivikOwl.</h1>
        </div>
        <viewpoints-mobile :perspectives="perspectives" :active="active" :switch-perspective="switchPerspective"/>
        <div class="article-container">
          <div class="article-header">
            <article-picture/>
            <viewpoints :perspectives="perspectives" :active="active" :switch-perspective="switchPerspective"/>
          </div>
          <article-summary/>
        </div>
      </div>
    </main>
    <rank-detail/>
    <app-footer/>
  </div>
</template>

<script>
  import ArticleSummary from './components/ArticleSummary.vue'
  import ArticlePicture from './components/ArticlePicture.vue'
  import AppFooter from './components/AppFooter.vue'
  import TopBar from './components/TopBar.vue'
  import Notification from './components/Notification.vue'
  import Viewpoints from './components/Viewpoints.vue'
  import ViewpointsMobile from './components/ViewpointsMobile.vue'
  import RankDetail from './components/RankDetail.vue'

  export default {
    name: 'app',
    components: {
      ArticleSummary,
      ArticlePicture,
      AppFooter,
      Viewpoints,
      ViewpointsMobile,
      RankDetail,
      TopBar,
      Notification
    },
    methods: {
      switchPerspective: function (perspective) {
        this.active = perspective
      }
    },
    data () {
      return {
        perspectives: [
          {
            name: 'Top',
            icon: require('./assets/badge.svg'),
            class: 'main'
          },
          {
            name: 'Alternate',
            icon: require('./assets/alternate.svg')
          },
          {
            name: 'In-depth',
            icon: require('./assets/indepth.svg')
          },
          {
            name: 'Recent',
            icon: require('./assets/recent.svg')
          },
          {
            name: 'Similar',
            icon: require('./assets/similar.svg'),
            class: 'unimportant'
          }
        ],
        active: 'Alternate'
      }
    }
  }
</script>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css?family=Lato:900");

  @font-face {
    font-family: "San Francisco Text";
    src: url("./assets/fonts/sf-text/SanFranciscoText-Bold.woff2") format("woff2"),
    url("./assets/fonts/sf-text/SanFranciscoText-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'San Francisco Text';
    src: url('./assets/fonts/sf-text/SanFranciscoText-Semibold.woff2') format('woff2'),
    url('./assets/fonts/sf-text/SanFranciscoText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "San Francisco Text";
    src: url("./assets/fonts/sf-text/SanFranciscoText-Regular.woff2") format("woff2"),
    url("./assets/fonts/sf-text/SanFranciscoText-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  body {
    margin: 0;
    font-size: 16px;
  }

  main {
    padding: 0 1em;
    .title {
      margin: 60px 0 40px 0;
      span {
        font-size: 1.88em;
        font-weight: bold;
      }
      h1 {
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }

  button:focus {
    outline: none;
  }

  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }

  @media only screen and (max-width: 719px) {
    .mobile {
      display: block;
    }
    .desktop {
      display: none;
    }
  }

  h3 {
    font-size: 1.5em;
  }

  .content {
    max-width: 780px;
    margin: 0 auto;
  }

  .article-header {
    display: grid;
    grid-template-columns: 520px minmax(140px, 246px);
    grid-gap: 14px;
  }

  :root {
    --color-lightgrey: #f5f5f5;
    --color-grey: #ddd;
    --color-darkgrey: #888;
    --color-black: #333333;
    --color-cyan: #19b5fe;
    --color-darkblue: #4183d7;
    --color-green: #2ecc71;
    --color-yellow: #f7ca18;
    --color-red: #f64747;

    color: var(--color-black);
    font-family: "San Francisco Text", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .green {
    color: var(--color-green);
  }

  .gray {
    color: var(--color-darkgrey);
  }

  .red {
    color: var(--color-red);
  }

  .yellow {
    color: var(--color-yellow);
  }

  .bold {
    font-weight: bold;
  }

  @media only screen and (max-width: 719px) {
    body {
      background: #F5F5F5;
      main {
        .title {
          margin: 40px 0;
          text-align: center;
          span {
            font-size: 1.88em;
            font-weight: bold;
          }
          h1 {
            font-size: 1rem;
            font-weight: normal;
          }
        }
      }
      main {
        padding: 0 10px;
      }
    }
    .article-container {
      background: white;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
      border-radius: 8px;
    }
    .article-header {
      display: flex;
      flex-direction: column-reverse;
    }
  }
</style>
